.wrapper {
    background-color: #ffc;
}

.board {
    margin: auto;
    border-collapse: collapse;
}

.square-row {
    height: 50px;
}

.edge-row {
    height: 5px;
}

.square-col {
    width: 50px;
}

.edge-col {
    width: 5px;
}

.edge-cell:hover {
    background-color: blue;
}

.dot-cell {
    background-color: black;
}

.square-cell {
}

.activated {
    background-color: red;
}
