{% import cfg %}
<!Doctype html>
<html>
    <head>
        <title>HuluDots</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        <div class="wrapper">
            <table class="board">
                {% set board_width = cfg.game_cols * 2 - 1 %} 
                {% set board_height = cfg.game_rows * 2 - 1 %} 
                {% for x in xrange(board_width) %}
                <col class="{{'square-col' if x % 2 else 'edge-col'}}">
                {% end %}
                {% for y in xrange(board_height) %}
                <tr class="{{'square-row' if y % 2 else 'edge-row'}}">
                    {% for x in xrange(board_width) %}
                        {% set edge_class = '' %}
                        {% set edge_x = '' %}
                        {% set edge_y = '' %}
                        {% set edge_ori = '' %}
                        
                        {% if (x + y) % 2 %}
                            {% set cell_class="edge-cell" %}
                            {% set edge_x = x//2 %}
                            {% set edge_y = y//2 %}
                            {% if y % 2 %}
                                {% set edge_ori = 'vertical' %}
                                {% if board.edge_cols[edge_x][edge_y].is_active %}
                                    {% set edge_class = "activated" %}
                                {% else %}
                                    {% set edge_class = "clickable" %} 
                                {% end %}
                            {% else %}
                                {% set edge_ori = 'horizontal' %}
                                {% if board.edge_rows[edge_x][edge_y].is_active %}
                                    {%set edge_class = "activated" %}
                                {% else %}
                                    {% set edge_class = "clickable" %} 
                                {% end %}
                            {% end %}
                        {% elif y % 2 %}
                            {% set cell_class="square-cell" %}
                        {% else %}
                            {% set cell_class="dot-cell" %}
                        {% end %}
                        <td class="{{cell_class}} {{edge_class}}"
                            data-x="{{edge_x}}" data-y="{{edge_y}}" 
                            data-ori="{{edge_ori}}">
                        </td>
                    {% end %}
                </tr>
                {% end %}
            </table>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/scripts.js"></script>
    </body>
</html>
